@font-face {
    font-family: "Segoe UI";
    src: url("./fonts/Segoe\ UI\ Bold.woff");
    src: url("./fonts/Segoe\ UI\ Bold\ Italic.woff");
    src: url("./fonts/Segoe\ UI\ Italic.woff");
    src: url("./fonts/Segoe\ UI\ Regular.woff");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
body,
html {
    height: 100%;
    width: 100%;
    background: url(Background.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

body .allScreen {
    display: grid;
    max-width: 100%;
    max-height: 100%;
    grid-template-rows: 20fr 1fr;
}

/* .backgroundArea {
    background-color: rgba(30, 238, 238, 0.151);
} */

.taskbar {
    padding-bottom: 3px;
    height: 50px;
    width: 100vw;
    background-color: rgba(6, 8, 19, 0.699);
    backdrop-filter: blur(15px);
    border-top: 1px solid rgb(104, 104, 104);
    display: flex;
}

.startGuys {
    flex: 1;
    margin-left: 10px;
}

.startGuys img {
    height: inherit;
    max-width: 50%;
    max-height: 50%;
    margin: 3px 5px 0px 5px;
    transition: all 0.1s ease-in-out;
    padding: 10px;
    margin-bottom: 10px;
}

.startGuys img:hover {
    background-color: rgba(97, 101, 109, 0.3);
    border-radius: 5px;
}

.clockGuys {
    justify-self: flex-end;
    flex: 1;
    direction: rtl;
    margin-right: 20px;
    margin-top: 5px;
}

.clockGuys img {
    height: inherit;
    max-width: 30%;
    max-height: 50%;
    margin: 6px 10px 0 px 6px;
    transition: all 0.2s ease-in-out;
    padding: 10px 8px 10px 8px;
}

.clockGuys > *:hover {
    background-color: rgba(97, 101, 109, 0.3);
    border-radius: 5px;
}

.taskbarClock {
    padding: 0px 0px 1px 4px;
    height: 80%;
    width: 120px;
    position: absolute;
    display: inline;
    transition: all 0.2s ease-in-out;
}

.taskbarClock p {
    text-align: center;
    font-family: "Segoe UI";
    font-weight: bold;
    font-size: 15px;
    color: white;
    direction: ltr;
}

.clockGuys > img:nth-child(3) {
    margin-right: 130px;
    color: white;
}

.rightClick {
    background-color: rgba(6, 8, 19, 0.299);
    backdrop-filter: blur(25px);
    position: fixed;
    left: 0px;
    top: 0px;
    border-radius: 7px;
    width: 220px;
}

.rightClick ul {
    list-style: none;
}

.rightClick li {
    padding: 5px 0;
    border: 1px solid gren;
    border-radius: 5px;
    line-height: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

.rightClick li:hover {
    background-color: rgba(133, 180, 182, 0.1);
}
.rightClick p {
    padding-left: 10px;
    display: inline;
    position: absolute;
    font-size: 14px;
    font-family: "Segoe UI";
    font-weight: 800;
    color: azure;
}

.rightClick img {
    max-width: 16px;
    padding-left: 3px;
    padding-top: 3px;
}

.rightArrow {
    float: right;
}

.inactiveItem {
    color: dimgray;
}
